<input type="hidden" id="port" value={{ PORT }} />
<nav>
<div class="nav-wrapper">
    <div class="brand-logo right user"></div>
    <ul id="nav" class="left">
        <li><a href="/">Home</a></li>
        <li class="private"><a href="/notes">Notes</a></li>    
        <li class="private"><a href="/profile">Profile</a></li>
        <li class="private logout"><a href="/logout">Logout</a></li>
        <li class="public"><a href="/login">Login</a></li>
        <li class="public"><a href="/register">Registration</a></li>
    </ul>
</div>
</nav>