<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (!token) {
            location.href = './'
        }
        const createNoteForm = document.querySelector('.note');
        createNoteForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const res = {
                text: createNoteForm.elements.text.value
            }
            createNote(res);
        })
    })
</script>
<h1>Create note</h1>
<h3 class="error"></h3>
<form class='note'>
    <label for="text">Text</label>
    <input type="text" name="text" id="text" required />
    <button type="submit" class="btn">Send</button>
</form>