<script>
    document.addEventListener('DOMContentLoaded', async () => {
        if (!token) {
            location.href = './'
        }
        const params = (new URL(document.location)).searchParams;
        const id = params.get('id');
        getNoteData(id);
    })
</script>
<h1>Edit note</h1>
<h3 class="error"></h3>
<form class='note'></form>
