<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (!token && !user) {
            location.href = './'
        }
    })
</script>
<h1>Change password</h1>
<h3 class="error"></h3>
<form action="/api/users/me" method="PATCH" name="user">
    <label for="oldPassword">Old password</label>
    <input type="password" name="oldPassword" id="oldPassword" required />
    <label for="newPassword">New password</label>
    <input type="password" name="newPassword" id="newPassword" required />
    <button type="submit" class="btn">Change</button>
</form>