<h1>Login</h1>
<h3 class="error"></h3>
<form action="/api/auth/login" method="POST" name="login">
    <label for="username">username</label>
    <input type="text" name="username" id="username" required />
    <label for="password">password</label>
    <input type="password" name="password" id="password" required />
    <button type="submit" class="btn">Login</button>
</form>