<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (!token) {
            location.href = './'
        }
        getNotes();
    })
</script>
<h1>Notes</h1>
<table>
    <tr>
        <th>id</th>
        <th>text</th>
        <th>completed</th>
        <td></td>
    </tr>
    <tbody class="notes">

    </tbody>
</table>
<p><a href="/note-create">Create note</a></p>