<script>
    document.addEventListener('DOMContentLoaded', async () => {
        if (!token) {
            location.href = './'
        }
        const params = (new URL(document.location)).searchParams;
        const id = params.get('id');
        getNote(id);
    })
</script>
<h1>Note</h1>
<h3 class="error"></h3>
<div class='note'></div>