<h1>Registration</h1>
<h3 class="error"></h3>
<form action="/api/auth/register" method="POST" name="register">
    <label for="username">username</label>
    <input type="text" name="username" required />
    <label for="password">password</label>
    <input type="password" name="password" required />
    <button type="submit" class="btn">Register</button>
</form>