<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (!token && !user) {
            location.href = './'
        }
        const userId = document.querySelector('.user-id');
        userId.innerHTML = user._id;
        const userName = document.querySelector('.user-name');
        userName.innerHTML = user.username;
        const createdDate = document.querySelector('.created-date');
        createdDate.innerHTML = user.createdDate;
    })
</script>
<h1>User</h1>
<p><b>UserID:</b> <span class="user-id"></span></p>
<p><b>Username:</b> <span class="user-name"></span></p>
<p><b>Created Date:</b> <span class="created-date"></span></p>
<p><a href="/profile-edit">Change password</a></p>
<p><a href="#" class="delete-account">Delete account</a></p>